table {
    width: 100%;
  }
  
  .mat-row:nth-child(even){
    background-color: red;
}
        
.mat-row:nth-child(odd){
    background-color: black;
}

li { cursor: pointer; }

button {
    margin: 0 8px 8px 0;
  }