<div class="container">
    <table mat-table [dataSource]="unitLoc" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="plotno">
            <th mat-header-cell *matHeaderCellDef> Plot No. </th>
            <td mat-cell *matCellDef="let element"> {{element.plotno}} </td>
        </ng-container>

        <!-- city Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <!-- country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <!-- pincode Column -->
        <ng-container matColumnDef="pincode">
            <th mat-header-cell *matHeaderCellDef> Zipcode </th>
            <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
        </ng-container>


        <!-- contactno Column -->
        <ng-container matColumnDef="contactno">
            <th mat-header-cell *matHeaderCellDef> Contact No. </th>
            <td mat-cell *matCellDef="let element"> {{element.contactno}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <!-- Fax Column -->
        <ng-container matColumnDef="fax">
            <th mat-header-cell *matHeaderCellDef> Fax No </th>
            <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>